<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
<h1>List</h1>
<table class="table table-bordered table-striped">
    <thead>
    <tr>
        <td>data</td>
        <td>created on</td>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${dataList.empty}">
        <td colspan="2">No data</td>
    </tr>
    <tr th:each="dummydata : ${dataList}">
        <td th:text="${dummydata.data}"></td>
        <td th:text="${dummydata.createdOn} ? ${#dates.format(dummydata.createdOn,'YYYY/MM/dd HH:mm')}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>