<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Welcome to the Posts</title>
</head>
<body>
<h1>Posts will be displayed here</h1>
<table class="table table-bordered table-striped">
    <thead>
    <tr>
        <td>score</td>
        <td>actions</td>
        <td>content</td>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${posts.empty}">
        <td colspan="2">No posts</td>
    </tr>
    <tr th:each="post : ${posts}">
        <td th:text="${post.score}">1</td>
        <td><a th:href="@{/posts/{userId}/upVote(userId=${post.userId})}">+</a></td>
        <td><a th:href="@{/posts/{userId}/downVote(userId=${post.userId})}">-</a></td>
        <td th:text="${post.content}">1</td>
    </tr>
    </tbody>
</table>
</body>
</html>