
div {
  margin: 0 auto;
  width: 600px;
}


.buttons button {
  color: white;
  padding: 15px 32px;
  margin: 10px;
  text-align: center;
  font-color: white;
  display: inline-block;
  font-size: 19px;
  text-shadow: 1px 1px #000;
}

button:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);

}

.custom-1 {
  background: #d3d3d3;
  background: -webkit-linear-gradient(top, #d3d3d3 0%, #77aaaa 100%);
  background: -webkit-linear-gradient(top, #d3d3d3 0%, #77aaaa 100%);
}

.custom-2 {
  background: #4d4dff;
  background: -webkit-linear-gradient(top, #4d4dff 0%, #77aaaa 100%);
  background: -webkit-linear-gradient(top, #4d4dff 0%, #77aaaa 100%);
}

.custom-3 {
  background: #33ff33;
  background: -webkit-linear-gradient(top, #f2f2f2 0%, #4d4dff 100%);
  background: -webkit-linear-gradient(top, #f2f2f2 0%, #4d4dff 100%);
}
